<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">Prenotazione vaccini</a>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">

    <!--
    <nb-action class="control-item">
      <nb-search type="rotate-layout"></nb-search>
    </nb-action>
    -->
    <nb-action class="control-item" >
      <button nbButton status="danger" (click)="logout()"><nb-icon icon="log-out"></nb-icon>Esci</button>
    </nb-action>
  </nb-actions>
</div>
