<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header class="card-header">
        Campagne vaccinali disponibili
        <button *ngIf="userRole == 'Operator'" nbButton status="success"(click)="createCampaign()">Crea campagna</button>
      </nb-card-header>
      <nb-card-body>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Categorie</th>
            <td mat-cell style="white-space: pre;" *matCellDef="let element">{{element.type}} </td>
          </ng-container>

          <ng-container matColumnDef="totQty">
            <th mat-header-cell *matHeaderCellDef>Quantità</th>
            <td mat-cell *matCellDef="let element">{{element.totQty}}</td>
          </ng-container>

          <ng-container style="width: 20%;" matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Azioni</th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="userRole=='Operator'" class="actions-row">
                <button [disabled]="!element.deletable" (click)="delete(element._id)" title="Elimina" class="action-button" status="danger" nbButton><nb-icon icon="trash-outline"></nb-icon></button>&nbsp;
                <button (click)="edit(element._id)" title="Modifica" class="action-button" status="warning" nbButton><nb-icon icon="edit-outline"></nb-icon></button>&nbsp;
                <button (click)="reserve(element._id)" title="Inserisci" class="action-button" status="primary" nbButton><nb-icon icon="plus-outline"></nb-icon></button>
              </div>
              <div *ngIf="userRole=='Citizen'" class="actions-row container-button">
                <button [disabled]="!checkType(element)" (click)="reserve(element._id)" title="Prenota" status="primary" class="action-button" nbButton style="margin: 2px 2px"><nb-icon icon="plus-outline"></nb-icon></button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
