<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header class="card-header">
        Le mie prenotazioni vaccinali
      </nb-card-header>
      <nb-card-body>
        
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="campaign">
            <th mat-header-cell *matHeaderCellDef>Campagna</th>
            <td mat-cell *matCellDef="let element">{{element.campaign}}</td> <!--TODO: Devo visualizzare nome della campagna-->
          </ng-container>

          <ng-container matColumnDef="hub">
            <th mat-header-cell *matHeaderCellDef>Hub</th>
            <td mat-cell style="white-space: pre;" *matCellDef="let element">{{element.hub}} </td> <!--TODO: Devo visualizzare l'indirizzo del hub--->
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Data</th>
            <td mat-cell *matCellDef="let element">{{element.date}}</td> <!--TODO: Devo visualizzare la data del vaccino-->
          </ng-container>

          <ng-container matColumnDef="timeSlot">
            <th mat-header-cell *matHeaderCellDef>Fascia oraria</th>
            <td mat-cell *matCellDef="let element">{{element.timeSlot}}</td> <!--TODO: Devo visualizzare il time slot nel quale ho prenotato-->
          </ng-container> 

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
        </table>
        
      </nb-card-body>
    </nb-card>
  </div>
</div>