<nb-card>
    <nb-card-header class="card-header">
        Calendario disponibilità
        <button nbButton (click)="createSlot()">Inserisci disponibilità<nb-icon icon="plus-outline"></nb-icon> </button>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-6">
                <div class="form-control-group">
                    <label class="label" for="input-hub">Ambulatorio:</label>
                    <nb-select type="text" fullWidth name="hub"
                        placeholder="Ambulatorio">
                        <nb-option (click)="getSlots(hub._id)" *ngFor="let hub of hubs" [value]="hub" >
                            {{ hub.name }}
                        </nb-option>
                    </nb-select>
                </div>
            </div>
            <div class="col-6">
                <nb-calendar [dayCellComponent]="calendarCellComponent" [(date)]="data" size="large"></nb-calendar>
            </div>

        </div>
    </nb-card-body>
</nb-card>