<h1 id="title" class="title">Login</h1>


<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>Qualcosa è andato storto:</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
  <p class="alert-title"><b>Login avvenuto con successo</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>

<form #form="ngForm" aria-labelledby="title">

  <div class="form-control-group" *ngIf="citizen">
    <label class="label" for="input-email">Email:</label>
    <input nbInput fullWidth [(ngModel)]="user.email" name="email" id="input-email" 
      placeholder="Email" fieldSize="large" autofocus>
    <ng-container *ngIf="user && !user.email">
      <p class="caption status-danger">
        Email necessaria per procedere
      </p>
    </ng-container>
  </div>

  <div class="form-control-group" *ngIf="!citizen">
    <label class="label" for="input-opCode">Codice operatore:</label>
    <input nbInput fullWidth [(ngModel)]="user.email" name="opCode" placeholder="Codice operatore" fieldSize="large" required>
  </div>

  <div class="form-control-group">
    <span class="label-with-link">
      <label class="label" for="input-password">Password:</label>
    </span>
    
      
   <div class="password-input">
      <input [type]="showPassword?'text':'password'" name="Password" fullWidth nbInput [(ngModel)]="user.password" placeholder="Password" >
        <button nbSuffix nbButton ghost (click)="toggleShowPassword()">
          <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                   pack="eva"
                   [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
          </nb-icon>
        </button>
    </div>
 
    <ng-container *ngIf="user && !user.password ">
      <p class="caption status-danger">
        Password necessaria per procedere
      </p>
    </ng-container>
  </div>
   

<div class="row buttons" style="margin-bottom:10px">
  <div class="col-6">
    <button nbButton [status]="citizen?'primary':'default'" (click)="changeLogin(true)" style="width:100%">Cittadino</button>
  </div>
  <div class="col-6">
    <button nbButton [status]="!citizen?'primary':'default'" (click)="changeLogin(false)" style="width:100%">Operatore</button>
  </div>

  </div>

  <button (click)="login()" nbButton fullWidth status="success" size="large" [disabled]="submitted || !form.valid"
    [class.btn-pulse]="submitted">
    Log In
  </button>
</form>

<section class="another-action" aria-label="Registrati">
  Non hai un account? <a class="text-link" routerLink="../register">Registrati</a>
</section>
