<h1 id="title" class="title">Login</h1>

<div class="row buttons">
  <div class="col-6">
    <button nbButton (click)="citizen = true; this.user.opCode = ''">Cittadino</button>
  </div>
  <div class="col-6">
    <button nbButton (click)="citizen = false; this.user.email = ''">Operatore</button>
  </div>
</div>

<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>Qualcosa è andato storto:</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
  <p class="alert-title"><b>Login avvenuto con successo</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>

<form (ngSubmit)="login()" #form="ngForm" aria-labelledby="title">

  <div class="form-control-group" *ngIf="citizen">
    <label class="label" for="input-email">Email:</label>
    <input nbInput fullWidth [(ngModel)]="user.email" #email="ngModel" name="email" id="input-email" pattern=".+@.+\..+"
      placeholder="Email" fieldSize="large" autofocus
      [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : 'basic'"
      [required]="getConfigValue('forms.validation.email.required')"
      [attr.aria-invalid]="email.invalid && email.touched ? true : null">
    <ng-container *ngIf="email.invalid && email.touched">
      <p class="caption status-danger" *ngIf="email.errors?.required">
        Email necessaria per procedere
      </p>
      <p class="caption status-danger" *ngIf="email.errors?.pattern">
        Email errata
      </p>
    </ng-container>
  </div>

  <div class="form-control-group" *ngIf="!citizen">
    <label class="label" for="input-opCode">Codice operatore:</label>
    <input nbInput fullWidth [(ngModel)]="user.opCode" #opCode="ngModel" name="opCode" id="input-opCode"
      placeholder="Codice operatore" fieldSize="large" required>
    <ng-container *ngIf="opCode.invalid && opCode.touched">
      <p class="caption status-danger" *ngIf="opCode.errors?.required">
        Codice operatore necessario per procedere
      </p>
      <!--
        <p class="caption status-danger" *ngIf="opCode.errors?.pattern">
          Codice operatore errato
        </p>
      -->
    </ng-container>
  </div>

  <div class="form-control-group">
    <span class="label-with-link">
      <label class="label" for="input-password">Password:</label>
      <!--<a class="forgot-password caption-2" routerLink="../request-password">Forgot Password?</a>-->
    </span>
    <input nbInput fullWidth [(ngModel)]="user.password" #password="ngModel" name="password" type="password"
      id="input-password" placeholder="Password" fieldSize="large"
      [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : 'basic'"
      [required]="getConfigValue('forms.validation.password.required')" [minlength]="8" [maxlength]="50"
      [attr.aria-invalid]="password.invalid && password.touched ? true : null">
    <ng-container *ngIf="password.invalid && password.touched ">
      <p class="caption status-danger" *ngIf="password.errors?.required">
        Password necessaria per procedere
      </p>
      <p class="caption status-danger" *ngIf="password.errors?.minlength || password.errors?.maxlength">
        La password deve contenere da 8 a 50 caratteri
      </p>
    </ng-container>
  </div>

  <!--
  <div class="form-control-group accept-group">
    <nb-checkbox name="rememberMe" [(ngModel)]="user.rememberMe" *ngIf="rememberMe">Remember me</nb-checkbox>
  </div>
  -->

  <button nbButton fullWidth status="primary" size="large" [disabled]="submitted || !form.valid"
    [class.btn-pulse]="submitted">
    Log In
  </button>
</form>

<section class="another-action" aria-label="Registrati">
  Non hai un account? <a class="text-link" routerLink="../register">Registrati</a>
</section>